<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: #777;
    text-align: center;
}
</style>

<div class="footer">
  <p>Created On Enes Yerli Tepehan</p>
</div>